

body {
  background-image: url("images/pizzabackground.png");
  background-repeat: no-repeat;
}

p {
  color: red;
  font-size: 16px;
}

h1 {
  color: #ff9999;
  font-size: 36px;
}
h2 {

}

ul, ol {

}
