

body {
  background-image: url("images/pizzabackground.png");
  background-repeat: no-repeat;
  font-family: "Chopin", helvetica;
}

p {
  color: red;
  font-size: 16px;
  margin-right: 200px;
}

h1 {
  color: red;
  font-size: 36px;
  margin-right: 200px;
}
h2 {
    margin-right: 200px;
}

ul, ol {
  color: #800000;
  font-size: 22px;
}

table {

}

.price {
  list-style-type: none;
  color: black;
}

.menu {
  background-image: url("images/pizzabackground2.png");
  background-repeat: repeat;
  font-family: "Chopin", helvetica;
}

.menuleft {
  margin-left: 220px;
}

.offset {
  margin-left: 100px;
}
